# Toets Programmeren

# VERGEET NIET OP TE SLAAN NA HET MAKEN VAN ELKE OPDRACHT!
# VERGEET DE CODE NIET UIT TE VOEREN!

### Vraag 1:
Zorg dat de uitkomst van de uitdrukking `CambreurCambreurCambreur` is.

In [ ]:
x = 
y = 
z = 
print(int(x / y) * z)

### Vraag 2:

Zorg dat de uitkomst van de uitdrukking `PythonPython42False` is.

In [ ]:



print(x * y + str(z + w) + str(a))

### Vraag 3:
Zorg dat de uitkomst van de uitdrukking `True` is.

In [ ]:


print(x * y + z < 1000 and z > 100)

### Vraag 4:
Om een kat te mogen kopen moet je tenminste 50 euro hebben en 14 jaar oud zijn. Zorg dat de uitkomst van het algoritme `Ja, ik mag een kat kopen is`. (je moet hiervoor 2 `variabelen` gebruiken!)

In [ ]:


if():
    print("Ja, ik mag een kat kopen")
else:
    print("Nee, ik mag geen kat kopen")

### Opdracht 5:
Maak een programma die checkt of 4 verschillende hoeken samen een trapezium (vierhoek) vormen. (Maak dus gebruik van 4 variabelen en alle hoeken moeten samen 360 zijn). Schrijf zelf de `if` statement. Kijk goed naar de andere opdrachten en zorg dat de code op de juiste plek staat! Vergeet de **:** niet!

### Opdracht 6:
Maak een algoritme die verteld wanneer een nummer deelbaar is door 3, 7 of geen van beide. (maak gebruik van `modulo` (%))

In [ ]:
num = 

if():
    print("Nummer is deelbaar door 3")
elif():
    print("Nummer is deelbaar door 7")
else:
    print("Nummer is niet deelbaar door 3 of 7")

### Opdracht 7:
Maak een algoritme die kijkt of 2 nummers gelijk aan elkaar zijn **EN** allebei positief zijn.

In [ ]:
num1 = 
num2 = 

if():
    print("De nummers zijn gelijk aan elkaar en allebei positief")
else:
    print("De nummers zijn niet gelijk aan elkaar of negatief")

### Opdracht 8:
Maak een lijstje met de waardes `1, 1, 2, 3, 5, 8` en print deze uit.

### Opdracht 9:
Maak een lijstje met de waardes `10, 20, 22, 30`, haal vervolgens de waarde `22` uit het lijstje en print dan het lijstje uit.

### Opdracht 10:
Maak een lijstje `dieren` en de waardes `hond, kat, boom`. Haal vervolgens de waarde `boom` uit het lijstje en voeg de waarde `cavia` toe. Print ten slotte het lijstje uit.

### Opdracht 11:
Maak de `for-loop` af zodat alleen negatieve waardes uit het lijstje worden uitgeprint.

In [ ]:
nummers = [-32, 14, -47, 33, -32, -56, 51, 59, -77, 8]

for ? in ?:
    if(?):
        print(?)

### Opdracht 12:
Maak een lijstje en gebruik vervolgens een `for-loop` om alle waardes uit het lijstje onder elkaar uit te printen.

### Opdracht 13:
Maak een algoritme die alle waardes deelbaar door 9 uitprint in het bereik van 1 tot en met 100. (Maak gebruik van een `for-range` loop)

### Opdracht 14:
Maak een algoritme die alle waardes deelbaar door 12 **of** kleiner dan 180 uitprint in het bereik van 1 tot en met 500.

### Opdracht 15:
Maak een algoritme die alle oneven waardes tot en met 100 bij elkaar **optelt**.

In [ ]:
totaal = 0



print(totaal)

# VERGEET NIET OP TE SLAAN!